<a href="https://colab.research.google.com/github/hellen44/aulapablo/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#funçao calcula media 
def calculaMedia(x,y,z):
  return (x+y+z)/3

In [ ]:
def mediaTotal (*notas):
  soma = 0
  for nota in notas:
    soma += nota
  media = soma/len(notas)
  print('A media é: ', media)

In [ ]:
mediaTotal(1,2,3,4,4,4,4,4)
print('phoda')

A media é:  3.25
phoda

In [ ]:
def retornaBig(*numeros):
  maior = 0
  for n in numeros:
    if(n >= maior):
      maior = n 
  return maior

In [ ]:
retornaBig(6,7,8,44,1)

44

In [ ]:
#valor de parametro padrao
def nacionalidade(country = 'cuba'):
  print('eu nasci em: '+ country)

In [ ]:
nacionalidade('brasil')
nacionalidade('nigéria')
nacionalidade('frança')
nacionalidade()

eu nasci em: brasil
eu nasci em: nigéria
eu nasci em: frança
eu nasci em: cuba

In [ ]:
print(2+4)

6

In [ ]:
def soma(a,b):
  return a+b

In [ ]:
#1 Escreva uma função que recebe dois parametros numéricos e retorna a soma desses númenos.

def somaNumeros(a, b):
  soma = a + b

  return soma

In [ ]:
#2 Escreva uma função que recebe um número e retorna o valor absoluto.

def numeroAbsoluto (num):
    if (num < 0):
       num = num*(-1)
       return num
    else:
       return num

In [ ]:
len('laranja')

7

In [4]:
tp_frutas = ('maça', 'banana', 'uva', 'pinha')
tp_frutas

('maça', 'banana', 'uva', 'pinha')

In [6]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

['maça', 'banana', 'uva', 'pinha']

In [9]:
tp_meses = ('jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'dez')
tp_meses[3:6]

('abr', 'mai', 'jun')

In [11]:
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]

sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [12]:
nome_nasc = [('Hellen', 2004),('Marcos', 1988), ('Sheyla', 1999)]
sorted(nome_nasc, key = lambda x: x[1], reverse= True)

[('Hellen', 2004), ('Sheyla', 1999), ('Marcos', 1988)]

In [13]:
#desempacotamento de valores
def nome_idade_uf():
  nome = "Hellen"
  idade = 19
  uf = 'PB'
  return nome, idade, uf

name, age, uf = nome_idade_uf()
print(name, age, uf)

Hellen 19 PB

In [14]:
#mapeamento de valores
alunos = ('Hellen', 'Renan', 'Igor', 'Murilo')
notas = (9.0, 5, 4.5, 8.5)

Av1 = tuple(zip(alunos, notas))

Av1

(('Hellen', 9.0), ('Renan', 5), ('Igor', 4.5), ('Murilo', 8.5))

In [15]:
def concatenaTupla (tp1, tp2):
  return tp1 + tp2

a= (2,4,5)
b= (6,8,12)
concatenaTupla(a,b)

(2, 4, 5, 6, 8, 12)

In [24]:
def formatada (tupla):
  nome , logradouro, num, bairro = tupla
  return f'Nome:{nome}, residente a {logradouro}, {num}, {bairro}.'

dadosCliente = (' Hellen' , 'Rua pé na cova', '40', 'Centro')

print(formatada(dadosCliente))

Nome: Hellen, residente a Rua pé na cova, 40, Centro.